@import "~normalize.css/normalize.css";
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

@import "variables";
@import "tableView";
body{
  width:100%;
  overflow: auto; 
}

#app {
  box-sizing: border-box;
}